<div class="container">
<footer class="footer">
<small>
Copyright &copy; <a href="https://www.muthunew13@gmail.com">Ruby on Rails</a>by <a href="http://www.facebook/muhtu.com"> Muthu Krishnan</a></small>
<nav><ul>
<li><%= link_to "About", welcome_about_path %>
</li></ul></nav>
</footer>
</div>